main h1 {
	margin: 20px 10px;
	max-width: 100%;
}

#booklist {
	display: flex;
	flex-wrap: wrap;
}

#booklist article {
	width: 237px;
	height: 408px;
	padding: 6px;
	margin: 10px;
	background-color: #171819;
}

#booklist article a {
	text-decoration: none;
}

#booklist article a img.bookcover {
	height: 327px;
	object-fit: contain;
	overflow: hidden;
	margin: auto;
	display: block;
	max-width: 100%;
}

#booklist article a img.bookcover:hover {
	filter: brightness(60%);
}

#booklist article a div.bookdesc span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
	color: #D5D1CB;
	padding: 4px;
}

#booklist article a div.bookdesc span:hover {
	text-decoration: underline;
}

#booklist article a div.bookdesc span.booktitle {
	font-size: 17px;
}

#booklist article a div.bookdesc span.bookauthor {
	font-size: 14px;
}

#booklist article a div.bookdesc span.bookprice {
	font-weight: bold;
	color: #039BE5;
	text-align: right;
}

#booklist article a div.bookdesc span.bookprice:before {
	content: "$ ";
}

#booklist div.page-controls {
	flex: 0 0 100%;
	padding: 10px;
}

#booklist div.page-controls a.page-next {
	float: right;
}
