body {
	background-color: #212223;
	color: #D1CDC7;
	margin: 0;
}

a {
	color: #679FD5;
}

nav {
	overflow: hidden;
	background-color: #191A1B;
}

nav a {
	display: block;
	color: #978E83;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	color: #D5D1CB;
}

nav a.active {
	color: #D5D1CB;
}

.right {
	float: right;
}

.sticky {
	position: fixed;
	top: 0;
}

.sticky ~ main {
	padding-top: 72px;
}

header {
	background-color: #212223;
	padding: 20px;
	overflow: hidden;
}

header input#searchbar {
	float: left;
	background-color: #191A1B;
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 6px;
	border: 1px solid #292A2B;
	font-size: 17px;
	color: #D1CDC7;
}

header input#searchbar:hover {
	border: 1px solid #3D3E3F;
}

header input#searchbar:focus {
	border: 1px solid #039BE5;
}

header button#searchbtn {
	padding: 6px;
	border: none;
	height: 34px;
	width: 75px;
	background-color: #039BE5;
	border-radius: 0 4px 4px 0;

}

header button svg {
	width: 20px;
	height: 20px;
	fill: #D5D1CB;
	transition: transform 0.25s;
}

header button:hover svg {
	transform: scale(1.1);
}

header h1#title {
	float: right;
	margin: 0;
}

header + nav {
	width: 100%;
	height: 52px;
	box-sizing: border-box;
}

header + nav a {
	float: left;
	text-align: center;
	padding: 14px 16px;
}

header + nav a:hover {
	background-color: #212223;
	border-bottom: 3px solid #212223;
}

header + nav a.active {
	border-bottom: 3px solid #039BE5;
}

main {
	border-left: 1px solid #292A2B;
	padding: 20px;
}

main h1 {
	margin: 20px auto;
	max-width: 450px;
}

main p {
	margin: 20px auto;
	max-width: 450px;
}

footer {
	background-color: #191A1B;
	min-height: 60px;
	box-shadow: 0 50vh 0 50vh #191A1B;
	padding: 20px;
	text-align: center;
}

div#modal-box {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgb(0,0,0,0.4);
}

div#modal-box div#modal-content {
	background-color: #191A1B;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #039BE5;
	width: 50%;
	box-shadow: 5px 5px 5px #191A1B;
}

div#modal-box.show {
	display: block;
}

div#modal-box div#modal-content div.center {
	width: 100%;
	text-align: center;
}

div#modal-box div#modal-content button {
	color: #D5D1CB;
	font-weight: bold;
	font-size: 17px;
	width: 100%;
	max-width: 150px;
	height: 40px;
	padding: 6px;
	background-color: #039BE5;
	text-decoration: none;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: content-box;
}

div#modal-box div#modal-content button:hover {
	box-shadow: 5px 5px 5px #111213;
	color: #E5E1DB;
}

div#modal-box div#modal-content button#modal-close {
	float: right;
	max-width: 100px;
	height: 30px;
}
