p#pwd-strength-message{
    display: inline-block;
    margin: 10px auto;
}
div#strength-bar{
    width: 100%;
    display: inline-block;
    max-width: 400px;
    margin-bottom: 10px;
}

div#strength-bar span{
    display: inline-block;
    min-height: 5px;
}

div#strength-bar p{
    display: block;
    min-height: 5px;
}


div#strength-bar.pwd-strength-0 span{
    width: 5%;
    background-color: red;
}

div#strength-bar.pwd-strength-1 span{
    width: 25%;
    background-color: orangered;
}

div#strength-bar.pwd-strength-2 span{
    width: 50%;
    background-color: orange;
}

div#strength-bar.pwd-strength-3 span{
    width: 75%;
    background-color: yellow;
}

div#strength-bar.pwd-strength-4 span{
    width: 100%;
    background-color: greenyellow;
}