<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username already in use</title>
    <style>
        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none;
            color: white;
            background-color: blue;
            font-weight: bold;
            font-size: 14px;
        }
    </style>
</head>
<body>
<p>Hello, the username '{{username}}' is already in use, please retry with another username</p>
<br><hr><br>
<p>Best Regards,<br>EbookMarket</p>
</body>
</html>
