<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Verify your email address</title>
		<style>
			a.button {
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-decoration: none;
				color: white;
				background-color: #039BE5;
				font-weight: bold;
				font-size: 17px;
				width: 100%;
				max-width: 200px;
				display: block;
				box-shadow: 5px 5px 5px #111213;
				text-align: center;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<p>Hello {{username}}, we are glad that you have decided to join us!</p>
		<a class="button" href="{{verifylink}}" target="_blank">Verify Email</a>
		<hr>
		<p>Best Regards,<br>EbookMarket</p>
	</body>
</html>
