assets/ebooks/*.pdf
assets/ebooks/*.mobi
assets/ebooks/*.epub
assets/covers/*.jpg
assets/covers/*.png

.vscode/
*.code-workspace
.history/

.idea/

docker/web/mail-credentials.csv
assets/covers/index.php
assets/ebooks/.htaccess
assets/ebooks/index.php
assets/index.php
db.sql
populate.sql
