<IfModule mod_rewrite.c>
	RewriteEngine On

	#RewriteBase /ebookmarket

	RewriteRule ^(src/|assets/ebooks/|docker/|scripts/) - [NC,L,F]
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L,E=APACHE_MOD_REWRITE:1]
	RewriteRule ^([A-Za-z_][A-Za-z0-9_]*)/([A-Za-z_][A-Za-z0-9_]*)/?$ index.php?page=$1&action=$2 [NC,L,QSA,E=APACHE_MOD_REWRITE:1]
	RewriteRule ^([A-Za-z_][A-Za-z0-9_]*)/?$ index.php?page=$1 [NC,L,QSA,E=APACHE_MOD_REWRITE:1]
</IfModule>
